body {
    padding-top: 5px;
    background-color: #000000;
    background-image: url("img/bg.jpg");
}

.eachcolumn{



}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-right: 1px;
    padding-left: 2px;
}

.ScrollStyle
{
    max-height: 630px;
    overflow-y: scroll;
    outline: 1px solid #3276B2;

}

.content {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-collapse: collapse;
    z-index: -1; position:relative
}


@font-face {
    font-family: myFirstFont;
    src: url("fonts/HB Sketch Demo.otf");
}



.form-control {
    width: 150px;
}

.navbar-brand {
    font-family: myFirstFont;
    font-size: 30px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    color : black;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-default {

    font-size: 15px;
}

.panel .panel-primary {
    padding-left: 5px;
}

.tech{
    border-style: solid;
    border-width: medium;
}

.gplus{
    width: 100%
    height: 100%;
    background: #585858
}

.fbook{
    width: 100%
    height: 100%;
    background: #585858
}

.twitterstyle{
    width: 100%
    height: 100%;
    background: #585858
}

.gplus1{
    height: 430px;
}

.pd1{
    padding-top: 5px;
}
